<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduate.teacher.repository.dao.TeacherDao">

    <resultMap id="baseResultMap" type="org.graduate.teacher.repository.model.Teacher">
        <id property="id" column="id"/>
        <result property="no" column="no"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="telephone" column="telephone"/>
        <result property="admissionDate" column="admission_date"/>
        <result property="resignDate" column="resign_date"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="save" parameterType="org.graduate.teacher.repository.model.Teacher" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <trim prefix="INSERT INTO ssm_teacher (" suffix=")" suffixOverrides=",">
            <if test="no != null">no,</if>
            <if test="name != null">name,</if>
            <if test="password != null">password,</if>
            <if test="gender != null">gender,</if>
            <if test="telephone != null">telephone,</if>
            <if test="admissionDate != null">admission_date,</if>
            <if test="resignDate != null">resign_date,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="no != null">#{no},</if>
            <if test="name != null">#{name},</if>
            <if test="password != null">#{password},</if>
            <if test="gender != null">#{gender},</if>
            <if test="telephone != null">#{telephone},</if>
            <if test="admissionDate != null">#{admissionDate},</if>
            <if test="resignDate != null">#{resignDate},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="update" parameterType="org.graduate.teacher.repository.model.Teacher">
        UPDATE ssm_teacher
        <set>
            <if test="no != null">no = #{no},</if>
            <if test="name != null">name = #{name},</if>
            <if test="password != null">password = #{password},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="telephone">telephone = #{telephone},</if>
            <if test="admissionDate != null">admission_date = #{admissionDate},</if>
            <if test="resignDate != null">resign_date = #{resignDate},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryByNo" resultType="org.graduate.teacher.repository.model.Teacher">
        SELECT * FROM ssm_teacher WHERE no = #{no}
    </select>

    <select id="query" parameterType="org.graduate.teacher.repository.model.TeacherQueryParam" resultMap="baseResultMap">
        SELECT * FROM ssm_teacher
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="no != null">AND no = #{no}</if>
            <if test="name != null">AND name = #{name}</if>
            <if test="gender != null">AND gender = #{gender}</if>
            <if test="telephone != null">AND telephone = #{telephone}</if>
            <if test="admissionDate != null">AND admission_date = #{admissionDate}</if>
            <if test="resignDate != null">AND resign_date = #{resignDate}</if>
            <if test="status != null">AND status = #{status}</if>
        </where>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="queryCount" parameterType="org.graduate.teacher.repository.model.TeacherQueryParam" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ssm_teacher
    </select>

</mapper>