<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduate.teacher.repository.dao.TeacherClassesSubjectDao">

    <insert id="save" parameterType="org.graduate.teacher.repository.model.TeacherClassesSubject">
        <trim prefix="INSERT INTO ssm_teacher_classes_subject (" suffix=")" suffixOverrides=",">
            <if test="no != null">no,</if>
            <if test="subjectId != null">subject_id,</if>
            <if test="subjectNo != null">subject_no,</if>
            <if test="classesId != null">classes_id,</if>
            <if test="classesNo != null">classes_no</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="teacherNo != null">teacher_no,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="no != null">#{no},</if>
            <if test="subjectId != null">#{subjectId}</if>
            <if test="subjectNo != null">#{subjectNo}</if>
            <if test="classesId != null">#{classesId}</if>
            <if test="classesNo != null">#{classesNo}</if>
            <if test="teacherId != null">#{teacherId}</if>
            <if test="teacherNo != null">#{teacherNo}</if>
        </trim>
    </insert>

</mapper>