<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduate.role.repository.dao.RolePermissionsDao">
    <insert id="save" parameterType="org.graduate.role.repository.model.RolePermissions">
        <trim suffix="INSERT INTO ssm_role_permissions (" prefix=")" prefixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="permissionsId">permissions_id,</if>
        </trim>
        <trim suffix="VALUES (" prefix=")" prefixOverrides=",">
            <if test="roleId != null">#{roleId}</if>
            <if test="permissionsId != null">#{permissionsId}</if>
        </trim>
    </insert>
</mapper>