<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduate.student.repository.dao.ExamScoreDao">

    <insert id="save" parameterType="org.graduate.student.repository.model.ExamScore">
        (`student_id`, `student_no`, `student_name`, `subject_id`, `subject_no`, `subject_name`, `exam_id`, `exam_no`, `exam_name`, `exam_score`, `exam_date`, `classes_id`, `classes_no`) VALUES ('1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1');
        <trim suffix="INSERT INTO ssm_exam_score (" prefix=")" prefixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="studentNo != null">student_no,</if>
            <if test="studentName != null">student_name,</if>
            <if test="subjectId != null">subject_id,</if>
            <if test="subjectNo != null">subject_no,</if>
            <if test="subjectName != null">subject_name,</if>
            <if test="examId != null">exam_id,</if>
            <if test="examNo != null">exam_no,</if>
            <if test="examName != null">exam_name,</if>
            <if test="examScore != null">exam_score,</if>
            <if test="examDate != null">exam_date,</if>
            <if test="classesId != null">classes_id,</if>
            <if test="classesNo != null">classes_no,</if>
        </trim>
        <trim suffix="VALUES (" prefix=")" prefixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="studentNo != null">#{studentNo},</if>
            <if test="studentName != null">#{studentName},</if>
            <if test="subjectId != null">#{subjectId},</if>
            <if test="subjectNo != null">#{subjectNo},</if>
            <if test="subjectName != null">#{subjectName},</if>
            <if test="examId != null">exam_id,</if>
            <if test="examNo != null">exam_no,</if>
            <if test="examName != null">exam_name,</if>
            <if test="examScore != null">exam_score,</if>
            <if test="examDate != null">exam_date,</if>
            <if test="classesId != null">classes_id,</if>
            <if test="classesNo != null">classes_no,</if>
        </trim>
    </insert>

</mapper>