<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduate.subject.repository.dao.SubjectDao">

    <insert id="save" parameterType="org.graduate.subject.repository.model.Subject">
        <trim suffix="INSERT INTO ssm_student (" prefix=")" prefixOverrides=",">
            <if test="no != null">no,</if>
            <if test="name != null">name,</if>
            <if test="gender != null">gender,</if>
            <if test="password != null">password,</if>
            <if test="identityNo != null">identity_no,</if>
            <if test="address != null">address,</if>
            <if test="birthday != null">birthday,</if>
            <if test="admissionDate != null">admission_date,</if>
            <if test="graduationDate != null">graduation_date,</if>
            <if test="status != null">status,</if>
            <if test="classesId != null">classes_id,</if>
        </trim>
        <trim suffix="VALUES (" prefix=")" prefixOverrides=",">
            <if test="no != null">#{no},</if>
            <if test="name != null">#{name},</if>
            <if test="gender != null">#{gender},</if>
            <if test="password != null">#{password},</if>
            <if test="identityNo != null">#{identityNo},</if>
            <if test="address != null">#{address},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="admissionDate != null">#{admissionDate},</if>
            <if test="graduationDate != null">#{graduationDate},</if>
            <if test="status != null">#{status},</if>
            <if test="classesId != null">#{classesId},</if>
        </trim>
    </insert>

</mapper>