<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="false">
	<description>Quartz的定时集群任务配置</description>
    <!-- Quartz集群Schduler -->
    <bean id="clusterQuartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!-- Triggers集成 -->
        <property name="triggers">	
            <list>
                <ref bean="taskDataTrigger"/>
                <ref bean="accountTableTrigger"/>
                 <ref bean="emailTableTrigger"/>
            </list>
        </property>
        <!--  quartz配置文件路径-->
        <property name="configLocation" value="classpath:properties/quartz.properties"/>
        <!-- 启动时延期2秒开始任务 -->
        <!--<property name="startupDelay" value="2" />-->
        <!-- 保存Job数据到数据库所需的数据源 -->
        <!--<property name="dataSource" ref="dataSource"/> -->
        <!-- Job接受applicationContext的成员变量名 -->
        <!-- <property name="applicationContextSchedulerContextKey" value="applicationContext"/> -->
    </bean>






    <!-- 同步数据 Trigger定义 -->
    <bean id="accountTableTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="accountTableJobDetail"/>
        <property name="cronExpression" value="0 40 1 * * ? *"/>
    </bean>      

    <!-- 同步数据 JobDetail, 基于DeleteFillWaitBean实例化Job Class,可持久化到数据库实现集群 -->
    <bean name="accountTableJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.cndym.quartz.SynchronizationData"/>
        <property name="durability" value="true"></property>
    </bean>  
    
    <!-- 任务积分数据 Trigger定义 -->
    <bean id="taskDataTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="taskDataJobDetail"/>
        <property name="cronExpression" value="0 40 1 * * ? *"/>
    </bean>      

    <!-- 任务积分数据 JobDetail, 基于DeleteFillWaitBean实例化Job Class,可持久化到数据库实现集群 -->
    <bean name="taskDataJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.cndym.quartz.TaskDataQuartz"/>
        <property name="durability" value="true"></property>
    </bean>  
    
    
    
    
    <!-- 邮件订阅 Trigger定义 -->
    <bean id="emailTableTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="emailTableJobDetail"/>
        <property name="cronExpression" value="0 30 8 * * ? *"/>
    </bean>      

    <!-- 邮件订阅  JobDetail, 基于DeleteFillWaitBean实例化Job Class,可持久化到数据库实现集群 -->
    <bean name="emailTableJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.cndym.quartz.SendEmail"/>
        <property name="durability" value="true"></property	>
    </bean>  
    
    
    
    
    
    
      
</beans>
