<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduate.subject.repository.dao.SubjectDao">

    <resultMap id="baseResultMap" type="org.graduate.subject.repository.model.Subject">
        <id property="id" column="id"/>
        <result property="no" column="no"/>
        <result property="name" column="name"/>
    </resultMap>

    <insert id="save" parameterType="org.graduate.subject.repository.model.Subject" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <trim prefix="INSERT INTO ssm_subject (" suffix=")" suffixOverrides=",">
            <if test="no != null">no,</if>
            <if test="name != null">name,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="no != null">#{no},</if>
            <if test="name != null">#{name},</if>
        </trim>
    </insert>

    <update id="update" parameterType="org.graduate.subject.repository.model.Subject">
        UPDATE ssm_subject
        <set>
            <if test="no != null">no = #{no},</if>
            <if test="name != null">name = #{name},</if>
        </set>
        WHERE
            id = #{id}
    </update>

    <select id="query" parameterType="org.graduate.subject.repository.model.SubjectQueryParam" resultMap="baseResultMap">
        SELECT * FROM ssm_subject
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="no != null">no = #{no}</if>
            <if test="name != null">name = #{name}</if>
        </where>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="queryCount" parameterType="org.graduate.subject.repository.model.SubjectQueryParam" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ssm_subject
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="no != null">no = #{no}</if>
            <if test="name != null">name = #{name}</if>
        </where>
    </select>

</mapper>